<div>
    <div class="d-flex justify-content-center mb-5">
        <label class="btn btn-outline-success mx-5">
            <input type="file" hidden class="form-control-file" (change)="onImport($event)" />
            <i class="bi bi-download"></i>
            Import
        </label>
        <button type="button" class="btn btn-outline-success" (click)="onExport()">
            <i class="bi bi-upload"></i>
            Export
        </button>
    </div>
    <div>
        <div class="tableContainer shadow-lg">
            <table *ngIf="excelData.length" class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th *ngFor="let key of columnHeaders">{{ key }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of excelData">
                        <td *ngFor="let key of columnHeaders">{{ row[key] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>