.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    height: 60rem;
}
.form-control:focus{
    box-shadow: none;
}
form{
    height: 90vh;
}
.form-label{
    margin:0;
    margin-top: 10px;
}