label {
    font-weight: 900;
    margin-top: 10px;
}
body {
    font-family: sans-serif;
}
.formContainer {
    width: 40%;
}
.tableContainer {
    width: 60%;
}
input[type="date"] {
    display: flex;
    flex-flow: row-reverse;
    padding: 8px;
    gap: 20px;
    height: auto;
 }