input::placeholder {
    opacity: 0.5;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
    border-radius: 20px;
}

.card-body {
    background-image: url('../../assets/chatBackground.jpeg');
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
}

.card {
    height: 85vh;
}

.chat-bubble {
    background-color: #efefef;
    padding: 7px 15px;
    -webkit-border-radius: 20px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius: 20px;
    -moz-border-radius-bottomleft: 2px;
    border-radius: 20px;
    border-bottom-left-radius: 2px;
    display: inline-block;
}

.typing {
    align-items: center;
    display: flex;
    height: 30px;
}

.typing .dot {
    animation: typingAnimation 1.8s infinite ease-in-out;
    background-color: #6CAD96;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}

.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}

.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}

.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}

.typing .dot:last-child {
    margin-right: 0;
}

@keyframes typingAnimation {
    0% {
        transform: translateY(0px);
        background-color: #00a86d;
    }

    28% {
        transform: translateY(-7px);
        background-color: #3c7d64;
    }

    44% {
        transform: translateY(0px);
        background-color: #B5D9CB;
    }
}

.notch {
    width: 35%;
    height: 20px;
    background-color: #000000e3;
    border-radius: 25px;
    transform: translateY(-30%);
}

.mobileWidth {
    width: 23%;
}