<div class="container py-5 d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div>
            <div class="card border-4 border-dark shadow-lg rounded-5">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">Chat</h5>
                    <button type="button" class="btn btn-primary rounded-pill btn-sm">Messenger</button>
                </div>

                <div class="card-body scrollbar overflow-auto" style="position: relative; height: 400px">
                    <div *ngFor="let message of messages">
                        <div
                            [ngClass]="message.author === 'bot' ? 'd-flex justify-content-start' : 'd-flex justify-content-end mb-4 pt-1'">
                            <img *ngIf="message.author === 'user'" src="../../assets/profile1.jpeg" alt="avatar"
                                style="width: 45px;" class="rounded-5">
                            <img *ngIf="message.author === 'bot'" src="../../assets/profile2.jpeg" alt="avatar"
                                style="width: 45px;" class="rounded-5 me-2">
                            <div>
                                <p class="small p-2 ms-3 mb-1 rounded-3"
                                    [ngClass]="message.author === 'bot' ? 'bg-body-tertiary' : 'text-white bg-primary'">
                                    {{ message.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start mt-2" *ngIf="isshow">
                        <img src="../../assets/profile2.jpeg" alt="avatar" style="width: 45px;" class="rounded-5 me-2">
                        <div class="chat-bubble">
                            <div class="typing">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3 divider">
                    <img src="../../assets/profile1.jpeg" alt="avatar" style="width: 45px;" class="rounded-5 me-3">
                    <input type="text" class="form-control me-3" placeholder="Send a message" [(ngModel)]="value"
                        (keyup.enter)="sendMessage()">
                    <label for="fileInput">
                        <i class="fas fa-paperclip"></i>
                    </label>
                    <input type="file" hidden id="fileInput" class="form-control-file">
                    <a class="ms-3 text-muted" href=""><i class="bi bi-emoji-laughing-fill"></i></a>
                    <a class="ms-3" href="#" (click)="sendMessage()"><i class="bi bi-send-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>