.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
}

.header {
    background-color: #2f2f2f;
    height: 17%;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.footer {
    background-color: #fff;
    position: sticky;
    bottom: 0;
}