<nav id="sidebarMenu" class="d-lg-block sidebar bg-white">
    <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2"><span>Main
                dashboard</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 "><span>Manage Account</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2"><span></span>settings</a>
        <a href="#" class="list-group-item list-group-item-action py-2"><span>About us</span>
        </a>
    </div>
</nav>