<div class="tableContainer shadow-lg">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
                <th>Name</th>
                <th>DOB</th>
                <th>Mobile Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody class="text-center align-middle">
            <tr *ngFor="let user of userData">
                <td>{{user.COD_NAME}}</td>
                <td>{{user.COD_DOB}}</td>
                <td>{{user.COD_MOBILE}}</td>
                <td>{{user.COD_EMAIL}}</td>
            </tr>
        </tbody>
    </table>
</div>